html, body {
  padding: 0;
  margin: 0;
}

body {
  color: #444;
  font-family: Georgia, serif;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  text-rendering: optimizeLegibility;
}

a {
  color: #3ab5a5;
  text-decoration: none;
  -o-transition: .15s ease;
  -moz-transition: .15s ease;
  -webkit-transition: .15s ease;
  transition: .15s ease;
}

a:hover {
  color: #7bdfd2;
}

a:focus {
  outline: none;
}

::-moz-selection {
  background: #7bdfd2;
  color: white;
}

::selection {
  background: #7bdfd2;
  color: white; 
}

p {
  font-family: 'Sentinel SSm A', 'Sentinel SSm B', georgia, serif;
  font-style: normal; 
  font-weight: 300;
  line-height: 1.65;
}

h1, h2, h3, h4 {
  color: #2b2b2b;
  font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', helvetica, arial, sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'Sentinel SSm A', 'Sentinel SSm B', georgia, serif;
  font-size: 35px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.45;
  padding-top: 40px;
}

.alt {
  display: none;
}

h3 {
  font-size: 27px;
  margin: 0 0 35px 0;
}

h4 {
  font-size: 25px;
  margin: 0 0 25px 0;
}

.container {
  margin: 0 auto;
  width: 920px;
}

.intro {
  background-image: -webkit-gradient(linear, top, rgba(255,255,255,.88), rgba(255,255,255,.88)), url("images/panel.jpg");
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,.88), rgba(255,255,255,.88)), url("images/panel.jpg");
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.88), rgba(255,255,255,.88)), url("images/panel.jpg");
  background-image: -o-linear-gradient(top, rgba(255,255,255,.88), rgba(255,255,255,.88)), url("images/panel.jpg");
  background-image: linear-gradient(top, rgba(255,255,255,.88), rgba(255,255,255,.88)), url("images/panel.jpg");
  background-size: cover;
  padding: 0 0 65px 0;
}

.home-link {
  background-image: url("images/mark.png");
  background-size: cover;
  display: block;
  float: left;
  height: 84px;
  margin-top: 18px;
  -o-transition: .15s ease;
  -moz-transition: .15s ease;
  -webkit-transition: .15s ease;
  transition: .15s ease;
  width: 84px;
}

.home-link:hover {
  opacity: .5;
}

.intro h1 {
  margin: 25px auto 45px auto;
  text-align: center;
}

nav {
  display: block;
  float: right;
  padding: 45px 0 0 0;
  text-align: right;
}

nav a {
  font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-style: normal;
  padding: 10px 0 0 30px;
}

.deliverables {
  margin-top: 65px;
}

.deliverables ul {
  display: block;
  clear: both;
  list-style-type: none;
  overflow: hidden;
  padding-left: 0;
  margin-bottom: 15px;
}

.deliverables li {
  display: block;
  float: left;
  margin-bottom: 25px;
  min-height: 190px;
  width: 47.5%;
}

.deliverables li:nth-child(2n) {
  float: right;
}

.work, .about-me, .contact, footer {
  border-top: 1px solid #E2E2E3;
  clear: both;
  overflow: hidden;
  padding: 60px 0 40px 0;
}

.dribbble-shots ul {
  display: block;
  clear: both;
  list-style-type: none;
  overflow: hidden;
  padding-left: 0;
  padding-top: 18px;
}

.dribbble-shots li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 24.5%;
}

.dribbble-shots li:nth-child(4n) {
  margin-right: 0;
}

.dribbble-shots li a img {
  opacity: .9;
  -o-transition: .2s ease;
  -moz-transition: .2s ease;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.dribbble-shots li a:hover img {
  opacity: .5;
}

.about-me h3 {
  margin-bottom: 18px;
}

.about-me .left {
  float: left;
  width: 50%;
}

.about-me .right {
  background-image: url("images/me.jpg");
  background-size: cover;
  border-radius: 50%;
  display: block;
  float: right;
  height: 400px;
  margin-top: 20px;
  width: 400px;
}

.floated-container {
  clear: both;
  overflow: hidden;
}

.contact .right, .contact .left {
  float: left;
  width: 47.5%;
}

.contact .right {
  float: right;
}

.contact ul {
  display: block;
  margin-top: 0;
  padding-left: 30px;
}

.contact ul li a {
  display: block;
  font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', helvetica, arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  line-height: 1.65;
  margin-bottom: 8px;
}

.button {
  border: 2px solid #6DC7B2;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #35a697;
  display: block;
  font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', helvetica, arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 17px 0;
  text-align: center;
  -o-transition: .15s ease;
  -moz-transition: .15s ease;
  -webkit-transition: .15s ease;
  transition: .15s ease;
  width: 300px;
}

.button:hover {
  background-color: #6DC7B2;
  color: white;
}

.intro .button {
  margin: 15px auto 18px auto;
}

.contact .button {
  margin: 35px 0;
}

.powered-by a {
  color: #444;
  display: inline-block;
}

.powered-by span {
  background-image: url("images/TinyLetter_Wordmark.jpg");
  background-size: cover;
  display: block;
  height: 29px;
  margin-top: 3px;
  width: 140px;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid #c6c6c8;
  border-radius: 2px;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #444;
  font-family: 'Sentinel SSm A', 'Sentinel SSm B', georgia, serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.65;
  margin: 0 0 10px 0;
  padding: 12px 5px;
  width: 300px;
}

input:focus {
  outline: none;
}

::-webkit-input-placeholder {
  font-family: 'Sentinel SSm A', 'Sentinel SSm B', georgia, serif;
  font-style: italic;
  font-weight: 300;
}

:-moz-placeholder { /* Firefox 18- */
  font-family: 'Sentinel SSm A', 'Sentinel SSm B', georgia, serif;
  font-style: italic;
  font-weight: 300;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-family: 'Sentinel SSm A', 'Sentinel SSm B', georgia, serif;
  font-style: italic;
  font-weight: 300;
}

:-ms-input-placeholder {  
  font-family: 'Sentinel SSm A', 'Sentinel SSm B', georgia, serif;
  font-style: italic;
  font-weight: 300;
}

footer {
  border-top: 1px solid #E2E2E3;
  padding: 5px 0 30px 0;
}

footer p {
  color: #b9b9bb;
  font-size: 15px;
  text-align: right;
}

@media only screen and (max-width: 500px) and (min-device-width : 768px) and (max-device-width : 1024px) {

  body, p {
    font-size: 17px;
  }

  h3, h4  {
    font-size: 22px;
  }

  h3 {
    margin-bottom: 7px;
  }

  .container {
    width: 90%;
    overflow: hidden;
    clear: both;
  }

  .intro {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .home-link {
    display: block;
    height: 56px;
    margin-top: 5px;
    width: 56px;
  }

  nav {
    display: block;
    float: none;
    margin-top: 25px;
    padding: 0;
  }

  nav a {
    font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', helvetica, arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    padding: 0 10px;
  }

  nav a:nth-child(2), nav a:last-child {
    display: none;
  }

  .main {
    display: none;
  }

  .intro h1 {
    font-size: 32px;
    margin: 40px auto;
    padding: 0;
    width: 100%;
  }

  .alt {
    display: block;
  }

  .intro .button {
    margin: 0 auto 70px auto;
  }

  .button {
    font-size: 16px;
    width: 100%;
  }

  .deliverables {
    margin-top: 40px;
  }

  .deliverables li {
    float: none;
    margin-bottom: 25px;
    width: 95%;
  }

  .dribbble-shots li:last-child {
    margin-bottom: 0;
  }

  .deliverables li:nth-child(2n) {
    float: none;
  }

  .dribbble-shots li {
    display: block;
    float: none;
    width: 100%;
  }

  .dribbble-shots li img {
    height: auto;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

  .work, .about-me, .contact, footer {
    border-top: 1px solid #E2E2E3;
    clear: both;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 23px;
  }

  .about-me .left {
    float: none;
    width: 100%;
  }  

  .about-me .right {
    display: block;
    float: none;
    height: 288px;
    margin: 8px auto;
    width: 288px;
  }

  .contact .right, .contact .left {
    float: none;
    width: 100%;
  }

  .contact .left {
    padding-bottom: 23px;
  }

  .contact .right {
    border-top: 1px solid #E2E2E3;
    float: none;
    padding-top: 40px;
  }

  .contact ul {
    margin-top: 18px;
    padding-left: 25px;
  }

  .contact ul li a {
    margin-bottom: 8px;
  }

  input[type="text"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 8px 0;
    width: 100%;
  }

  footer {
    padding: 0 0 30px 0;
  }

  footer p {
    text-align: left;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .container {

  }
}